@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ant-pagination-item.ant-pagination-item-active {
  background-color: transparent !important;
  border-color: #ecc94b !important;
  overflow: hidden;
  a {
    color: #ecc94b !important;
    font-weight: bold !important;
  }
  :hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    /* color: rgba(1, 1, 1, 0.8) !important; */
    color: rgba(1, 1, 1, 0.8) !important;
    background-color: #ecc94b !important;
  }
}

.ant-pagination-item {
  :hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    color: #ecc94b !important;
  }
}

/* .ant-breadcrumb {
  color: white !important;
  .ant-breadcrumb-separator {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  .ant-breadcrumb-link {
    color: white !important;
  }
} */

.center-focus > .slick-slide > * {
  transform: scale3d(0.9, 0.9, 0.9);
}
.center-focus > .slick-center > * {
  transform: scale3d(1, 1, 1);
}

/* .ant-table-thead > tr > th {
  background-color: #1a202c !important;
  color: white !important;
} */
